---
import Button from "./Button.astro";
---

<section class="grid-lg cta">
  <div class="grid-sm">
    <h2 class="h2">10x Your Business</h2>
    <p class="text-muted narrow">
      Starting your business website is a lot of work. We can help you with
      that. We will help you with your website research, design, development,
      hosting and maintenance.
    </p>
  </div>
  <div class="grid-sm">
    <Button text="Get In Touch" link="#" style="secondary" />
    <small class="text-muted">No commitment contact</small>
  </div>
</section>
