---
import Button from "./Button.astro";
---

<header class="grid-lg">
  <div class="grid-sm">
    <h1 class="h1">Ultimate Landing Page</h1>
    <p class="text-muted narrow">
      This is the primary preliminary space for a user to make contact and
      know you. Here you will list a key phrase or description of your business,
      or an introductory offer that will hopefully persuade them to sit and talk
      with you. As many as a third of visitors’ attention are spent on the
      landing page. They are typically long and with several references to what
      your business offers.
    </p>
  </div>
  <div class="grid-sm">
    <Button text="Get Started" link="#" style="secondary" />
    <small class="text-muted">No commitment contact</small>
  </div>
</header>
