---
import Button from "./Button.astro";
---

<header class="grid-lg">
  <div class="grid-sm">
    <h1 class="h1">Your Kind of Designer</h1>
    <p class="text-muted narrow">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident
      consectetur, quia nisi consequuntur animi quae sint eaque. Dolorem
      nesciunt omnis sunt fuga, quis harum accusantium similique repellat
      veritatis neque, temporibus exercitationem odit, blanditiis nobis sequi?
    </p>
  </div>
  <div class="grid-sm">
    <Button text="Contact Me" link="#" style="secondary" />
    <small class="text-muted">No commitment contact</small>
  </div>
</header>
